body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #111;
    

}

* {
    box-sizing: border-box;
}

h1,h3 {
    font-weight: 400;
}

.weather-app {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    background-size: cover;
    position: relative;
    transition: 500ms;
    opacity: 0;
    
}

.videoPlayer{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.weather-app::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
    z-index: 1;
}

.container > div{
    display: flex;
    justify-content: left;
    align-items: center;


}

.city-time,
.temp,
.weather {
    margin: 0 1em;
}

.city-time h1 {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;

}

.temp {
    font-size: 7em;
    margin: 0;
} 

.weather img{
    display: block;
    margin: 0.5em 0;
}

.panel{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0  rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 10;
    padding: 1.5em 2em 5em 2em;
    
    /* hideeeeeeeeee scroll bar blaaa */
    overflow-y: auto;
}
.panel::-webkit-scrollbar{
    width: 8px;
}
.panel::-webkit-scrollbar-track{
    background: transparent;
}

.panel::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.panel::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 0.6);
}

.panel form{
    margin-bottom: 1.5em;

}

.submit{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background: #de6d2c;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

.submit:hover {
    background: #fff !important;
    color: #000;
}

.search{
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 0 1em 0.5em 0;
    width: 80%;
    color: #fff;
    font-size: 1.1em;
}

.search:focus {
    outline: none;
}

.search::placeholder{
    color: #ccc;
}

.panel ul {
    padding: 0 0 1em 0;
    margin: 1em 0;
    border-bottom: 1px #ccc solid;
}

.panel ul li {
    color: #ccc;
    margin: 2.5em 0;
}

.panel ul li h4 {
    margin: 3em 0;
}




.city {
    display: block;
    cursor: pointer;
}

.city:hover {
    color: #fff;
}

.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px){
    
    .panel, .container {
        position: relative;
        width: 100%;
        top: initial;
    }
    
}

@media screen and (max-width: 500px){
    html {
        font-size: 12px;
    }
}

@media screen and (max-height: 300px) {
    .weather-app{
        min-height: 40em;
    }
    
}

.forecast-section h4{
    margin: 20px 0 10px;
    font-weight: 500;

}

.forecast-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    border-bottom: none !important;
    margin-bottom: 0 !important;
}

.forecast-card{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(255, 255, 255, 0.15);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    padding: 10px 15px;
    color: #fff;
    transition: 0.3s;
}
.forecast-card :hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translate(-2px);
}

.forecast-day {
    font-weight: 500;
    width: 50px;

}

.forecast-icon {
    width: 30px;
    height: 30px;
}

.forecast-temp {
    font-weight: bold;
}

.hourly-container {
    display: none; 
    
    flex-direction: row; 
    flex-wrap: nowrap;   
    overflow-x: auto;    
    
    gap: 15px;
    width: 100%;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    
}

.hourly-container::-webkit-scrollbar {
    height: 5px;
}

.hourly-container::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.hourly-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60px;
    font-size: 0.8rem;
    color: #eee;
}

.hourly-item img {
    width: 25px;
    margin: 5px 0;
}

.forecast-card {
    flex-wrap: wrap;
    cursor: pointer;
}

.forecast-card.active .hourly-container{
    display: flex; 
    animation: fadeIn 0.5s;
}

#map {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    z-index: 1;
}

.leaflet-container{
    background: rgba(0, 0, 0, 0.3);
}

h4{
    font-weight: 500;
}
 .map-section {
    border-top: 1px solid rgba(255, 255, 255, 0.921);
    padding-top: 10px;
    width: 100%;
}

#toast-box {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    z-index: 100;
    pointer-events: none;
}

.toast {
    width: 300px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 15px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 15px;

    transform: translateX(100%);
    animation: slideIn 0.5s forwards, fadeOut 0.5s forwards 5s;
    pointer-events: auto;
}

.toast i {
    font-size: 1.5rem;
    color: #ffd700;

}

@keyframes slideIn {
    100% { transform: translateX(0);}
}

@keyframes fadeOut {
    100% {opacity: 0; transform: translateY(-20px);}
}





